:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-cyan: #02ffff;
    --main-black: #000000;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.4;
    color: var(--main-white);
}

.nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-cyan);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

label {
    font-size: 3.5rem;
    margin: auto 1.5rem;
    color: #000;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 5px;
}

.nav-list li {
    font-size: 3rem;
    margin-left: 5px;
    padding: .5rem;
}

.nav-list li:hover {
    background: #27a9ff;
}

.nav-list li a {
    color: var(--main-black);
}

a {
    text-decoration: none;
    color: var(--main-white);
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}

.intro p {
    font-size: 3rem;
    color: black;
}

img {
    display: block;
    width: 100%;
}

.projects {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-blue);
}

.projects-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color: #ff7f50;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}


.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.btn-show-all {
    font-size: 2rem;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
}

.btn-show-all:hover {
    background: var(--main-red);
}

.btn-show-all:hover>i {
    transform: translateX(2px);
}

.btn-show-all>i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    background: var(--main-gray);
}

.contact-section-header>h2 {
    font-size: 6rem;
}

@media (max-width: 28.75em) {
    .contact-section-header>h2 {
        font-size: 4rem;
    }
}

.contact-section-header>p {
    font-style: italic;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
}

footer>p {
    margin: 2rem;
}

footer i {
    vertical-align: middle;
}

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 28.75em) {
    .nav {
        justify-content: center;
    }

    .nav-list {
        margin: 0 1rem;
    }
}

@media (max-width: 28.75em) {
    .projects-section-header {
        font-size: 4rem;
    }
}

@media (max-width: 30.625em) {
    .projects-section {
        padding: 6rem 1rem;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 28.75em) {
    .contact-section-header>h2 {
        font-size: 4rem;
    }
}

@media (max-width: 28.75em) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}