.downloads {
    padding: 10px;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    gap: 50px;

    table.download-links, tr, th, td {
        border: 1px solid black;
        padding: 5px;
        border-collapse: collapse;
    }

    table.download-links {
        caption {
            font-weight: bold;
            color: black;
            font-size: 25px;
            margin-bottom: 10px;
        }
        thead {
            tr {
                th {
                    width: 400px;
                }
            }
        }
        tbody {
            tr {
                td {
                    width: 400px;
                    text-align: center;
                    font-weight: bold;
                    color: blue;

                    a.download-link {
                        color: red;
                        font-weight: bold;
                        font-family: system-ui, Roboto, 'Open Sans', sans-serif;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 425px) {
    .downloads {
        flex-direction: row;
    }
}