.downloads {
    padding: 10px;
    background-color: #efefef;

    table.download-links, tr, th, td {
        border: 1px solid black;
        padding: 5px;
        border-collapse: collapse;
    }

    table.download-links {
        thead {
            tr {
                th {
                    width: 400px;
                }
            }
        }
        tbody {
            tr {
                td {
                    width: 400px;
                    text-align: center;

                    a.vsdc-codes-download-link {
                        color: red;
                        font-weight: bold;
                        font-family: system-ui, Roboto, 'Open Sans', sans-serif;
                    }
                }
            }
        }
    }
}