.contact {
    padding: 5px;

    .contact-info {
        margin-top: 10px;
        margin-bottom: 20px;

        .contact-data-row {
            margin: 1px 10px;
            display: flex;
            align-items: center;

            .icon-img {
                width: 10%;
                height: 20px;

                img {
                    height: 20px;
                    width: 20px;
                }
            }

            .contact-data {
                font-size: small;
                color: #16f4aa;
            }
        }
    }

    .contact-form {
        padding: 15px 5px 5px 5px;


        label {
            color: white;
            display: flex;
            align-items: center;
            margin-bottom: 5px;

            .label-title {
                width: 20%;
            }

            input,
            textarea {
                margin-bottom: 5px;
                outline: 1px solid white;
                border-radius: 2px;
                background-color: black;
                border: none;
                color: white;
                margin-left: 15px;
                justify-self: flex-end;
                height: 30px;
                width: 250px;
                resize: none;

            }
        }

        button[type="submit"] {
            font-weight: 700;
            font-size: 18px;
            width: 250px;
            height: 30px;
            color: #0eb57d;
            outline: 1px solid #0eb57d;
            background-color: black;
            border: none;
            border-radius: 5px;
            margin: 10px auto;
            text-align: center;
            margin-left: 93px;
        }

        button[type="submit"]:active{
            background-color: #0eb57d;
            color: black;
            border-color: #0eb57d;
        }
    }

}

.copyright-info {
    margin: auto 10px;
    background-color: #0eb57d;
    height: 50px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}