@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.contact {
    font-family: 'Indie Flower', cursive;
    padding: 5px;

    .contact-info {
        margin-top: 10px;
        margin-bottom: 20px;

        .contact-data-row {
            margin: 1px 10px;
            display: flex;
            align-items: center;

            .icon-img {
                width: 10%;
                height: 20px;

                img {
                    height: 20px;
                    width: 20px;
                }
            }

            .contact-data {
                font-size: small;
            }
        }
    }

    .contact-form {
        padding: 15px 5px 5px 25px;


        label {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            font-weight: 700;

            .label-title {
                width: 20%;
            }

            input,
            textarea {
                margin-bottom: 5px;
                outline: 1px solid rgb(0, 0, 0);
                border-radius: 2px;
                border: none;
                margin-left: 15px;
                align-items: center;
                justify-self: flex-end;
                height: 30px;
                width: 250px;
                resize: none;

            }
        }

        button[type="submit"] {
            font-weight: 700;
            font-size: 18px;
            width: 250px;
            height: 30px;
            color: #0eb57d;
            outline: 1px solid #0eb57d;
            border: none;
            border-radius: 5px;
            margin: 10px auto;
            text-align: center;
            margin-left: 90px;
        }

        button[type="submit"]:active {
            background-color: #0eb57d;
            color: black;
            border-color: #0eb57d;
        }
    }

}

.copyright-info {
    margin: auto 10px;
    color: white;
    background-color: #0eb57d;
    height: 50px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 426px) and (max-width: 1440px) {

    .contact {
        .contact-info {
            margin: 10px 32%;

            .contact-data-row {
                .icon-img {
                    width: 5%;
                }
            }
        }


        .contact-form {
            margin: 10px 30%;

            form {
                button[type="submit"] {
                    margin-left: 117px;
                }
            }
        }
    }


    .copyright-info {
        width: 30%;
        text-align: center;
        margin: 1px auto;
    }
}