$boxshadow : 0 2px 10px 0 rgba(0, 0, 0, 0.52);
$skycolor: rgb(81, 201, 161);

@mixin flexthedisplay {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 426px) and (max-width: 1440px) {
    .nav {
        padding: 0px 50px;
        @include flexthedisplay();
        justify-content: space-between;
        box-shadow: $boxshadow;

        label.title {
            line-height: 60px;
            letter-spacing: 2px;

            font: {
                size: 34px;
                weight: 700;
            }

            a {
                color: $skycolor;
            }
        }

        ul {
            display: flex;
            flex-direction: row;

            li {
                margin: auto 10px;

                a {
                    font-size: 16px;
                    letter-spacing: 1px;
                    color: #000;
                }

                a:hover {
                    color: $skycolor;
                    font-weight: 400;

                }
            }
        }

    }
}

@media screen and (min-width: 320px) and (max-width: 426px) {
    .nav {
        padding: 5px 25px !important;
        display: flex;
        flex-flow: row wrap;
        box-shadow: $boxshadow;

        label.title {
            line-height: 40px;
            letter-spacing: 1px;
            flex-basis: 100%;
            text-align: center;

            font: {
                size: 30px;
                weight: 700;
            }

            a {
                color: $skycolor;
            }
        }

        ul {
            display: flex;
            flex-flow: row nowrap;
            line-height: 20px;

            li {
                margin: auto 2px;

                a {
                    font-size: 16px;
                    color: #000;
                }

                a:hover {
                    color: $skycolor;

                }
            }

        }
    }
}