$boxshadow : 0 2px 10px 0 rgba(0, 215, 252, 0.52);
$skycolor: rgb(0, 236, 232);
$frontColor: rgb(255, 255, 255);
$backColor: rgb(0, 0, 0);

.nav-header {
    nav.nav {
        background-color: black;
        display: flex;
        flex-direction: column;
        width: 100%;

        label {
            text-align: center;

            a {
                font-size: 25px;
                color: white;
            }
        }

        ul {
            display: flex;
            li {
                font-size: 13px;
                padding: 5px;
            }
        }
    }
}