$boxshadow : 0 2px 10px 0 rgba(0, 215, 252, 0.52);
$skycolor: rgb(0, 236, 232);
$frontColor: rgb(255, 255, 255);
$backColor: rgb(0, 0, 0);

@mixin flexDisplay {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

// for desktop and tablets
@media screen and (min-width: 426px) and (max-width: 1440px) {
    .nav {
        padding: 0px 50px;
        @include flexDisplay();
        background-color: $backColor;

        label.title {
            line-height: 60px;
            letter-spacing: 2px;

            font: {
                size: 34px;
                weight: 700;
            }

            a {
                color: $skycolor;
            }
        }

        ul {
            display: flex;
            flex-direction: row;

            li {
                margin: auto 10px;

                a {
                    font-size: 16px;
                    letter-spacing: 1px;
                }

            }
        }
    }
}

// for mobile devices 
@media screen and (min-width: 320px) and (max-width: 426px) {
    .nav {
        padding: 5px 25px !important;
        display: flex;
        flex-flow: row wrap;
        background-color: black;

        label.title {
            line-height: 40px;
            letter-spacing: 1px;
            flex-basis: 100%;
            text-align: center;

            font: {
                size: 30px;
                weight: 700;
            }

            a {
                color: $skycolor;
            }
        }

        ul {
            display: flex;
            flex-flow: row nowrap;
            line-height: 20px;

            li {
                margin: auto 4px auto 0px;
                padding: 1px;

                a {
                    font-size: 16px;
                    font-weight: 700;
                }

            }
        }
    }
}