.firstSection {
    background-color: #0eb57d;
    padding: 2px 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 350px;

    .firstM {
        display: block;

        h2 {
            color: #ffffff;
            font-size: 32px;
            text-transform: uppercase;
        }

        h4 {
            color: #ffffff;
            font-size: 20px;
        }
    }

    .lastM {
        padding-top: 15px;

        ul {
            display: flex;


            li {
                margin: auto 10px;
                padding: 3px 5px;
                border-radius: 25px;
                text-align: center;
                background-color: #000000;

                a {
                    margin: auto 10px;
                    height: 50px;
                    width: 50px;
                    text-decoration: none;
                    color: #ffffff;
                    text-transform: none;
                }
            }
        }
    }
}