$boxshadow : 0 2px 10px 0 rgba(0, 0, 0, 0.52);

@mixin flexthedisplay {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.nav {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 50px;
    @include flexthedisplay();
    justify-content: space-between;
    box-shadow: $boxshadow;

    label.title {
        line-height: 60px;
        letter-spacing: 2px;

        font: {
            size: 34px;
            weight: 700;
        }

        a {
            color: rgb(81, 201, 161);
        }
    }

    ul {
        display: flex;
        flex-direction: row;

        li {
            margin: auto 10px;

            a {
                font-size: 12px;
                color: #000;
            }

            a:hover {
                color: rgb(81, 201, 161);

            }
        }
    }

}

@media only screen and (max-width: 600px) {
    
}