@media screen and (min-width: 426px) and (max-width: 1440px) {

    .profile-container {
        height: 300px;
        width: 75%;
        position: relative;
        top: -200px;
        left: 13%;
        background-color: #efefef;
        border-radius: 5px;
        display: flex;

        .profile-photo {
            img {
                height: 300px;
                width: 300px;
                border-radius: 10px 5px 5px 10px;
                border: 2px solid black;
            }
        }
    }

    // // }
    // // mainProfileContainer {
    // //     background-color: #ffffff;
    // //     width: 70%;
    // //     height: 400px;
    // //     margin-left: auto;
    // //     margin-right: auto;
    // //     position: relative;
    // //     top: -200px;
    // //     box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.52);
    // //     display: flex;

    // //     .profileDetail {
    // //         height: 400px;
    // //         width: 100%;

    // //         .firstSectionProfile {
    // //             height: 70px;
    // //             margin-left: auto;
    // //             margin-right: auto;
    // //             text-align: center;
    // //             color: #e6e6e6;
    // //             background-color: #0eb57d;
    // //             display: flex;
    // //             justify-content: center;
    // //             align-items: center;
    // //         }

    // //         .secondSectionProfile {
    // //             height: 260px;
    // //             color: green;
    //             padding: 20px 40px;

    //             h3 {
    //                 font-size: 25px;
    //                 margin: 0;
    //                 padding: 0;
    //             }

    //             h5 {
    //                 font-size: 15px;
    //             }

    //             hr {
    //                 margin: 15px 0px;
    //             }

    //             table {
    //                 padding: 5px;
    //                 font-size: 18px;

    //                 tr {
    //                     td {
    //                         padding: 5px;
    //                     }
    //                 }
    //             }
    //         }

    //         .lastSectionProfile {
    //             display: flex;
    //             justify-content: center;
    //             align-items: center;
    //             height: 70px;
    //             color: #e6e6e6;
    //             background-color: #0eb57d;
    //         }
    //     }
    // }

}