.SecondSection {
    background-color: #e6e6e6;
    height: 2000px;
    display: flex;
    flex-direction: column;
}

.mainProfileContainer {
    background-color: #ffffff;
    width: 70%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -200px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.52);
    display: flex;

    .profileDetail {
        height: 400px;
        width: 100%;

        .firstSectionProfile {
            height: 70px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            color: #e6e6e6;
            background-color: #0eb57d;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .secondSectionProfile {
            height: 260px;
            color: green;
            padding: 20px 40px;

            h3 {
                font-size: 25px;
                margin: 0;
                padding: 0;
            }

            h5 {
                font-size: 15px;
            }

            hr {
                margin: 15px 0px;
            }

            table {
                padding: 5px;
                font-size: 18px;

                tr {
                    td {
                        padding: 5px;
                    }
                }
            }
        }

        .lastSectionProfile {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70px;
            color: #e6e6e6;
            background-color: #0eb57d;
        }
    }
}

.SkillsCard {
    width: 70%;
    height: 700px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -200px;

    .headerMains {
        height: 100px;
        width: 100%;
        text-align: center;
    }

    .cardSpaces {
        height: 400px;
        width: 100%;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.52);
        display: flex;
        color: #000;

        .aboutMe {
            width: 50%;
            padding: 20px;

            p {
                font-family: 'Roboto', 'Sans Serif' !important;
                font-size: 20px;
                line-height: 25px;
                color: #000;
                font-weight: 400;
                margin-bottom: 0;
                text-align: justify;
            }

        }

        .skillsMe {
            width: 50%;
            padding: 15px;

            .skillS {
                display: flex;
                justify-content: space-between;
            }

            .bars {
                margin: 10px 0px;
                color: #000;

                progress {
                    width: 100%;
                    height: 5px;
                    background-color: #0eb57d;
                }
            }
        }
    }
}

.EducationCard {
    width: 70%;
    height: 700px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -400px;

    .headerMains {
        height: 100px;
        width: 100%;
        text-align: center;
    }

    .cardSpaces {
        height: 400px;
        width: 100%;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.52);
        display: flex;
        color: #000;
    }
}