.SecondSection {
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    height: 3000px;
}

.mainProfileContainer {
    background-color: #ffffff;
    width: 70%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -200px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.52);
    display: flex;

    .profileDetail {
        height: 400px;
        width: 100%;

        .firstSectionProfile {
            height: 70px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            color: #e6e6e6;
            background-color: #0eb57d;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .secondSectionProfile {
            height: 260px;
            color: green;
            padding: 20px 40px;

            h3 {
                font-size: 25px;
                margin: 0;
                padding: 0;
            }

            h5 {
                font-size: 15px;
            }

            hr {
                margin: 15px 0px;
            }

            table {
                padding: 5px;
                font-size: 18px;

                tr {
                    td {
                        padding: 5px;
                    }
                }
            }
        }

        .lastSectionProfile {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70px;
            color: #e6e6e6;
            background-color: #0eb57d;
        }
    }
}

.SkillsCard {
    width: 70%;
    height: 700px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -200px;

    .headerMains {
        height: 100px;
        width: 100%;
        text-align: center;
    }

    .cardSpaces {
        height: 400px;
        width: 100%;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.52);
        display: flex;
        color: #000;

        .aboutMe {
            width: 50%;
            padding: 20px;

            p {
                font-family: 'Roboto', 'Sans Serif' !important;
                font-size: 20px;
                line-height: 25px;
                color: #000;
                font-weight: 400;
                margin-bottom: 0;
                text-align: justify;
            }

        }

        .skillsMe {
            width: 50%;
            padding: 15px;

            .skillS {
                display: flex;
                justify-content: space-between;
            }

            .bars {
                margin: 10px 0px;
                color: #000;

                progress {
                    width: 100%;
                    height: 5px;
                    background-color: #0eb57d;
                }
            }
        }
    }
}

.EducationCard {
    width: 70%;
    height: 700px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -400px;

    .headerMains {
        height: 100px;
        width: 100%;
        text-align: center;
    }

    .cardSpaces {
        height: 500px;
        width: 100%;
        padding: 20px;
        display: flex;
        color: #000;

        .timeline {
            position: relative;
            margin: 1px auto;

            .container {
                padding: 20px;
                position: relative;


                .text-box {
                    padding: 15px 20px;
                    background-color: #fff;
                    position: relative;
                    border-radius: 6px;
                    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.52);
                    letter-spacing: 1px;

                    h4 {
                        margin: 15px auto 2.5px auto;
                        margin-top: 15px;
                        font-size: 18px;
                        text-transform: uppercase;
                        color: #0eb57d;
                    }

                    p {
                        margin: 2.5px auto 15px auto;
                        font-size: 13px;
                        font-weight: 500;
                        color: #666666;
                        text-transform: uppercase;
                    }

                    .left-container-arrow {
                        height: 0;
                        width: 0;
                        position: absolute;
                        top: 28px;
                        z-index: 1;
                        border-top: 15px solid transparent;
                        border-bottom: 15px solid transparent;
                        border-left: 15px solid #fff;
                        right: -15px;
                    }

                    .right-container-arrow {
                        height: 0;
                        width: 0;
                        position: absolute;
                        top: 28px;
                        z-index: 1;
                        border-top: 15px solid transparent;
                        border-bottom: 15px solid transparent;
                        border-right: 15px solid #fff;
                        left: -15px;
                    }
                }

                img {
                    position: absolute;
                    width: 7px;
                    border-radius: 50%;
                    right: -4px;
                    top: 60px;
                    z-index: 10;
                }
            }

            .left-container {
                right: 50%;
            }

            .right-container {
                left: 50%;

                img {
                    left: -4px;
                }
            }
        }

        .timeline::after {
            content: "";
            position: absolute;
            width: 6px;
            height: 95%;
            background-color: #fff;
            top: 0;
            left: 50%;
            margin-left: -3px;
        }

    }
}

.PortfolioCard {
    width: 70%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -500px;

    .headerMains {
        height: 100px;
        width: 100%;
        text-align: center;
    }

    .cardSpaces {
        height: 500px;
        width: 100%;
        color: #000;

        nav {
            width: 100%;
            height: 15%;
            background-color: #0eb57d;
            display: flex;
            align-content: center;
            justify-content: center;

            h2 {
                padding: 20px;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 4px;
                color: white;
            }
        }

        .projects {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            .box {
                width: 236px;
                height: 225px;

                img {
                    padding: 5px;
                    width: 235px;
                    height: 223px;
                    border-radius: 20px;
                    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.52);

                }
            }
        }
    }
}


.InfoCard {
    position: absolute;
    top: 3000px;
    left: 205px;
    height: 280px;
    width: 70%;

    .headerMains {
        height: 70px;
        width: 100%;
        text-align: center;
    }

    .cardSpaces {
        height: 300px;
        width: 100%;
        color: #000;
        background-color: #efefef;
        border-radius: 10px;
        display: flex;

        .infos {
            width: 50%;

            table {
                padding: 10px;

                tbody {
                    tr {
                        display: flex;

                        td {
                            padding: 15px;

                            h3 {
                                color: #0eb57d;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
        }

        .formContact {
            width: 50%;

            form {
                padding: 10px;

                label {
                    margin-bottom: 5px;
                    letter-spacing: 1px;

                    input {
                        padding: 10px;
                        width: 100%;
                        outline: none;
                        border: none;
                        margin: 5px auto;
                        border-radius: 5px;
                        font-size: large;
                    }

                    textarea {
                        padding: 10px;
                        width: 100%;
                        height: 75px;
                        resize: none;
                        outline: none;
                        border: none;
                        margin: 5px auto;
                        border-radius: 5px;
                        font-size: large;
                    }


                }

                button {
                    height: 40px;
                    width: 100%;
                    background-color: #0eb57d;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    font-size: large;
                    letter-spacing: 1px;
                }
            }
        }
    }
}