// @media screen and (min-width: 320px) and (max-width: 426px) {}
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.skills {
    font-family: 'Courier New', Courier, monospace;

    p.skills-intro {
        margin: 15px;
        text-align: justify;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    hr {
        width: 80%;
        margin: 0px auto;
    }

    .skills-bars {
        width: 80%;
        margin: 15px 10%;

        .skill {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5px;

            p {
                color: blue;

                b {
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                }
            }
        }

        .bar {
            margin-top: 5px;

            progress {
                width: 100%;
                height: 15px;
            }

            .progress-bar::-webkit-progress-bar {
                background-color: red;
            }
        }
    }
}

@media screen and (min-width: 426px) and (max-width: 1440px) {
    .skills {
        p.skills-intro {
            margin: 20px 135px;
        }
    }
}