.admin-panel {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;

    .login-container {
        background-color: #efefef;
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 10px;
        border-radius: 15px;
        gap: 10px;

        .user-img {
            img {
                height: 200px;
                width: 200px;
                border-radius: 15px;
            }
        }

        .user-credits {
            form {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 24px;
                    margin-bottom: 5px;
                }

                input {
                    height: 30px;
                    width: 300px;
                    margin-bottom: 5px;
                }

                button {
                    height: 40px;
                    margin-top: 10px;
                    font-size: 18px;
                    border-radius: 7px;
                    border: none;
                    outline: none;
                    background-color: green;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}