* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Sans Serif' !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
}