* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
}