.progress-parent {
    height: 10px;
    width: 100%;
    background-color: rgb(239, 239, 239);
    border-radius: 5px;
    margin: 4px auto;
}

.progress-child {
    height: 9px;
    border-radius: 5px;
}