$skycolor: rgb(0, 236, 232);
$frontColor: rgb(255, 255, 255);
$backColor: rgb(0, 0, 0);
$blueColor: rgb(0, 0, 255);
$redColor: rgb(255, 0, 0);

.Home {
    border-radius: 5px;
    margin: 5px;

    .profile-card {
        display: flex;
        justify-content: center;

        #profile-img {
            height: 530px;
            width: 350px;
            border: 5px solid $blueColor;
            border-radius: 10px;
        }
    }

    .profile-details {
        padding: 10px;

        h2 {
            color: $skycolor;
        }

        h5 {
            margin-bottom: 10px;
        }

        table {
            width: 100%;
            margin: 10px auto;

            tbody {
                tr {
                    display: flex;

                    td {
                        padding: 2px 1px;
                        font-weight: 700;
                    }

                    td.index {
                        flex-basis: 35%;

                        .icon {
                            margin-right: 5px;
                        }
                    }

                    td.value {
                        color: $redColor;
                    }
                }
            }
        }

        q.quote {
            font-size: 12px;
            font-weight: 700;
        }


    }
}


@media screen and (min-width: 426px) {
    .Home {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-top: 70px;

        .profile-intro {
            display: none;
        }

        .profile-card {
            #profile-img {
                border: 5px solid blue;
                border-radius: 15px;

            }
        }

        .profile-details {
            border: 1px solid black;
            padding: 10px;
            height: 300px;
            width: 450px;

            h4 {
                font-size: 25px;
            }

            h2 {
                font-size: 30px;
            }

            h5 {
                font-size: 18px;
            }

            table {
                tbody {
                    td {
                        width: 35%;
                    }

                    td.index {
                        flex-basis: 70%;
                        margin-right: 10px;
                    }

                    td.value {
                        width: 55%;
                    }
                }
            }
        }
    }
}