@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.portfolio {
    font-family: 'Indie Flower', cursive;
    padding: 5px;

    .projects-cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        .project-card {
            width: 200px;
            height: 250px;

            .project-img,
            img {
                background-size: cover;
                margin-top: 10px;
                margin-left: auto;
                margin-right: auto;
                width: 190px;
                height: 190px;
                border: 1px solid black;
                border-radius: 10px;
            }

            .project-description {
                text-align: center;
                color: black;
                font-weight: 700;
                margin-top: 10px;
                font-size: 14px;

                a {
                    font-size: 15px;
                    color: red;
                    font-weight: 700;
                }
            }
        }
    }

    .project-more-button {
        text-align: center;
        height: 20px;

        button {
            padding: 5px;
            font-size: 20px;
            background-color: rgb(73, 254, 73);
            border: none;
            border-radius: 10px;
            font-weight: 700;
        }
    }
}