.portfolio {
    padding: 5px;

    .projects-cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        .project-card {
            width: 200px;
            height: 250px;

            .project-img {
                display: flex;
            }

            img {
                margin-top: 10px;
                margin-left: auto;
                margin-right: auto;
                width: 190px;
                height: 190px;
                border-radius: 10px;
            }

            .project-description {
                text-align: center;
            }
        }
    }

    .project-more-button {
        text-align: center;
        height: 20px;

        button {
            padding: 5px;
            font-size: 20px;
            background-color: rgb(73, 254, 73);
            border: none;
            border-radius: 10px;
            font-weight: 700;
        }
    }
}