.education {
    padding: 10px;

    .timeline {
        position: relative;

        .container {
            padding: 20px;
            position: relative;

            img {
                position: absolute;
                left: -4px;
                top: 60px;
                width: 7px;
                z-index: 10;
                border-radius: 50%;
                background-color: white;
                border: 1px solid blue;
            }

            .text-box {
                width: 100%;
                padding: 5px 15px;
                background-color: #00f7ff;
                position: relative;
                border-radius: 6px;
                box-shadow: 0 2px 10px 0 rgba(255, 255, 255, 0.52);
                letter-spacing: 1px;

                h4 {
                    margin: 15px auto 2.5px auto;
                    margin-top: 15px;
                    font-size: 20px;
                    text-transform: uppercase;
                    color: #000000;
                }

                p {
                    margin: 2.5px auto 15px auto;
                    font-size: 13px;
                    font-weight: 700;
                    color: #000000;
                    text-transform: uppercase;
                }

                .left-container-arrow {
                    height: 0;
                    width: 0;
                    position: absolute;
                    top: 28px;
                    z-index: 1;
                    border-top: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                    border-left: 15px solid #fff;
                    right: -15px;
                    background-color: blue;
                    color: blue;
                }

                .right-container-arrow {
                    height: 0;
                    width: 0;
                    position: absolute;
                    top: 28px;
                    z-index: 1;
                    border-top: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                    border-right: 15px solid #0008ff;
                    left: -15px;
                }
            }


        }

        .right-container {
            width: 90%;
            left: 9.5%;
        }
    }

    .timeline::after {
        content: "";
        position: absolute;
        width: 6px;
        height: 95%;
        background-color: #ff0000;
        top: 14px;
        right: 90%;
        margin-left: -3px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 1);
        outline: none;
    }
}

@media screen and (min-width: 426px) and (max-width: 1440px) {
    .education {
        .timeline {
            margin: 50px 10%;

            .container {
                img {
                    left: -3px;
                }
            }

            .right-container {
                width: 65%;
                left: 19.7%;
            }
        }

        .timeline::after {
            right: 80%;
        }

    }
}