.education {
    .timeline {
        position: relative;
        background-color: #000;

        .container {
            padding: 20px;
            position: relative;
            background-color: #000;


            .text-box {
                width: 100%;
                padding: 5px 15px;
                background-color: #fff;
                position: relative;
                border-radius: 6px;
                box-shadow: 0 2px 10px 0 rgba(255, 255, 255, 0.52);
                letter-spacing: 1px;

                h4 {
                    margin: 15px auto 2.5px auto;
                    margin-top: 15px;
                    font-size: 20px;
                    text-transform: uppercase;
                    color: #0eb57d;
                }

                p {
                    margin: 2.5px auto 15px auto;
                    font-size: 13px;
                    font-weight: 500;
                    color: #000;
                    text-transform: uppercase;
                }

                .left-container-arrow {
                    height: 0;
                    width: 0;
                    position: absolute;
                    top: 28px;
                    z-index: 1;
                    border-top: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                    border-left: 15px solid #fff;
                    right: -15px;
                }

                .right-container-arrow {
                    height: 0;
                    width: 0;
                    position: absolute;
                    top: 28px;
                    z-index: 1;
                    border-top: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                    border-right: 15px solid #fff;
                    left: -15px;
                }
            }

            img {
                position: absolute;
                width: 7px;
                border-radius: 50%;
                right: -4px;
                top: 60px;
                z-index: 10;
            }
        }

        // .left-container {
        //     right: 30%;
        // }

        .right-container {
            width: 90%;
            left: 9.5%;

            img {
                left: -5px;
                font-size: large;
            }
        }
    }

    .timeline::after {
        content: "";
        position: absolute;
        width: 6px;
        height: 95%;
        background-color: #fff;
        top: 14px;
        right: 90%;
        margin-left: -3px;
        box-shadow: rgba(0, 0, 0, 1);
    }
}